<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wifi12306">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 开机启动 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!--写入sd卡权限，写入异常图片时需要-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ThemeLeftAndRightAnimation">
        <activity
            android:name=".activity.SplashScreenActivity"
            android:label="QIULOT"
            android:screenOrientation="portrait"
            android:theme="@style/FullBleedTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TabActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <!--注意：首页面主题必须设置成不透明的；其余子页面主题需要设置成透明的 不然swipeBack的滑动返回会看见桌面，而不会看见上一级activity-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity android:name=".activity.MainActivity"></activity>

        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingActivity"
            android:label="@string/system_setting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DrawerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".activity.CordovaWebViewActivity"
            android:label="CordovaWebViewActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".activity.CordovaChildActivity"
            android:label="CordovaWebViewActivity"
            android:screenOrientation="portrait"
            />
    </application>

</manifest>