<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.extendservice">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ThemeLeftAndRightAnimation"
        >
        <activity android:name="com.extendservice.activity.TabActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            >
            <!--注意：首页面主题必须设置成不透明的；其余子页面主题需要设置成透明的 不然swipeBack的滑动返回会看见桌面，而不会看见上一级activity-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.extendservice.activity.MainActivity"
            >
        </activity>

        <activity
            android:name="com.extendservice.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:label="@string/login"/>
        <activity android:name="com.extendservice.activity.SettingActivity"
            android:screenOrientation="portrait"
            android:label="@string/system_setting"/>
        <activity android:name="com.extendservice.activity.ChooseUserActivity"
            android:screenOrientation="portrait"
            android:label="@string/user_choose_title"/>
        <activity android:name="com.extendservice.activity.CharacterTypeActivity"
            android:screenOrientation="portrait"
            android:label="@string/user_info_title"/>
    </application>

</manifest>